.button {
  padding: 10px 15px; /* Padding around the button */
  border: none; /* Remove border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Change cursor on hover */
  font-size: 16px; /* Font size */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for hover effects */
}

/* Light theme button styles */
.lightButton {
  background-color: white; /* Light background */
  color: black; /* Dark text */
}

/* Dark theme button styles */
.darkButton {
  background-color: rgb(21, 21, 21); /* Dark background */
  color: white; /* Light text */
}

/* Hover effect */
.button:hover {
  opacity: 0.8; /* Slightly transparent on hover */
}
